<footer class="section-dark">
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="de-flex">
                        <div class="de-flex-col">
                            Copyright 2024 - Gardyn by Designesia
                        </div>
                        <ul class="menu-simple">
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="/assets/cucumber/images/misc/silhuette-1-black.webp" class="abs bottom-0 op-3" alt="">
</footer>