<div class="widget widget-post">
    <h4>Recent Posts</h4>
    <ul class="de-bloglist-type-1">
        <li>
            <div class="d-image">
                <img src="images/blog-thumbnail/2.webp" alt="">
            </div>
            <div class="d-content">
                <a href="#"><h4>Creative Garden Layouts for Every Space</h4></a>
                <div class="d-date">June 15, 2024</div>
            </div>
        </li>
        <li>
            <div class="d-image">
                <img src="images/blog-thumbnail/3.webp" alt="">
            </div>
            <div class="d-content">
                <a href="#"><h4>DIY Tips for a Stunning Garden Makeover</h4></a>
                <div class="d-date">June 15, 2024</div>
            </div>
        </li>
        <li>
            <div class="d-image">
                <img src="images/blog-thumbnail/4.webp" alt="">
            </div>
            <div class="d-content">
                <a href="#"><h4>Low-Maintenance Garden Landscaping Ideas</h4></a>
                <div class="d-date">June 15, 2024</div>
            </div>
        </li>
        <li>
            <div class="d-image">
                <img src="images/blog-thumbnail/5.webp" alt="">
            </div>
            <div class="d-content">
                <a href="#"><h4>Transforming Common Spaces in Modern Hotels</h4></a>
                <div class="d-date">June 15, 2024</div>
            </div>
        </li>
    </ul>
</div>

<div class="widget widget_tags">
    <h4>Popular Tags</h4>
    <ul>
        <li><a href="#link">Art</a></li>
        <li><a href="#link">Application</a></li>
        <li><a href="#link">Design</a></li>
        <li><a href="#link">Entertainment</a></li>
        <li><a href="#link">Internet</a></li>
        <li><a href="#link">Marketing</a></li>
        <li><a href="#link">Multipurpose</a></li>
        <li><a href="#link">Music</a></li>
        <li><a href="#link">Print</a></li>
        <li><a href="#link">Programming</a></li>
        <li><a href="#link">Responsive</a></li>
        <li><a href="#link">Website</a></li>
    </ul>
</div>