# устанавливаем кодировку
AddDefaultCharset utf-8
# разрешаем перенаправление
RewriteEngine On
# записываем базовую директорию нашего сайта (OSPanel->domains->test1)
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
# указываем, что все запросы нужно перенаправлять на файл index.php
RewriteRule ^(.*)$ index.php