{% extends 'front/layout.html.twig' %}
{% block main %}
    {% for article in articles %}

        <article>
            <h4 class="title"><a href="/articles/{{ article.id }}">{{ article.title }}</a></h4>
            <img src="{{ article.cover_image }}">
            <p>{{ article.content|raw }}</p>
        </article>
    {% endfor %}
{% endblock %}